
<div class="terminal">
  <div class="terminal__window">
    <div class="terminal__handle">
      <div class="terminal__buttons">
        <div class="button close"></div>
        <div class="button minimize"></div>
        <div class="button maximize"></div>
      </div><span class="terminal__title">stranger@abhishekraj.net ~ (akrj)</span>
    </div>
    <div class="terminal__main">
      <p class="sign default" id="loadingProtocol"> Running Identity Protocol<span id="loading">.</span></p>
      <div class="default" id="identity-results">
        <p id="greeting"></p>
        <p id="message"></p>
      </div>
      <p class="is-hidden" id="installingResume">Installing abhishek-resume.<span id="installer-loader"></span>.</p>
      <p class="is-hidden" id="loadingResume">Loading Abhishek's Resume.<span id="resume-loader"></span>.</p>
      <p class="default" id="showResume"></p>
      <div class="default" id="resume">
        <p id="name"></p>
        <p id="alias"></p>
        <p id="occupation"></p>
        <p id="front-end"></p>
        <p id="js-frameworks"></p>
        <p id="js-libs"></p>
        <p id="css-frameworks"></p>
        <p id="branding"></p>
        <p id="hobby"></p>
      </div>
      <p class="default" id="askName"></p>
      <div class="stranger-intro is-hidden" id="strangerIntro">
        <div class="terminal-prompt"></div>
        <div id="sayhi"></div>
      </div>
    </div>
  </div>
</div>