#aboutmeModal.modal
  // Modal content
  .modal-content
    span.close.modal__close ×
    .aboutme-block.abs-center
      article.article
        p
          | Hello from the East coast!
        p
          |  I'm Abhishek Raj. And My passion is to invent and build enjoyable, useful, and novel user interfaces at the cusp of hardware and software. I am a proficient front-end and mobile web engineer with experience leading and handling small teams. In my projects, I tend to gravitate to web technologies because of the flexibility of the web platform.
        p
          | Actually, I've built a terminal for you, to dig deeper, to know more about me and my awesome clients I worked for... you must give a try. But let me tell you one more thing just right here, When I'm not riding cycle and playing with my pets I must be finishing one more book from my bucket list.
        p
          | In case you want to talk to me... There! There at right bottom corner of this window. You got it. :)