.latest-project.hide
  .latest-project__close(onclick="toggleLatestWork()")
    span Latest work
  a(href="latest-work.html").latest-project__content
    h3.latest-project__title Latest work
    .latest-project__img
      img(src="./img/latest-work.jpg")
      h3.latest-project__name Run Adam
      p.latest-project__desc Sport is life