.dreamer 
  svg.svg(viewbox='0 0 800 800', xml:space='preserve')
    g#object
      ellipse.st7(cx='408.3', cy='620.2', rx='119.9', ry='14.8')
      g
        g
          path.st6(d='M392.4,604.7c-0.6-1.5-2.5-2.7-4.2-2.7l-22.7,0.5c-1.6,0-4.3,0.5-5.8,1.1l-12.9,4.8\
          c-1.5,0.6-1.5,1.2,0.2,1.4l17.4,1.9c1.6,0.2,3.5,1.6,4.1,3.1l1.1,2.9c0.6,1.5,2.2,2,3.6,1.1l8.3-5.7c1.4-0.9,3.6-1,5-0.2l10,6.1\
          c1.4,0.9,2,0.3,1.4-1.2L392.4,604.7z')
          path.st6(d='M470.2,616.2l-7.2-11.7c-0.9-1.4-2.9-2.3-4.5-1.9l-19,4.3c-1.6,0.4-4,1.4-5.4,2.3l-9.8,6.5\
          c-1.4,0.9-1.1,1.6,0.5,1.4l14.8-1.1c1.6-0.1,3.7,0.9,4.5,2.4l1.5,2.6c0.8,1.4,2.4,1.6,3.5,0.3l5.8-6.7c1.1-1.2,3.2-1.7,4.7-1.1\
          l9.4,4C470.6,618.2,471.1,617.6,470.2,616.2z')
        path.st6(d='M447.9,402.6c-24.5,0-31.3,13.8-32.4,35.5c-3.6-21.7-13.1-35.5-37.6-35.5c-44.6,0-80.7,45.1-80.7,100.8\
        c0,42.8,10.4,81.5,53.8,95.5c12.4-1,19.3-7,29.5-7c20.9,0,30.3-7.1,34.3-20.3c2,13.2,9.4,20.3,30.3,20.3c10.3,0,17.2,6,29.5,7\
        c41.9-20.2,53.8-52.6,53.8-95.5C528.6,447.8,492.5,402.6,447.9,402.6z M417.4,503.9c0-0.9,0-1.9,0-2.8\
        C417.4,502,417.4,503,417.4,503.9c0,0.8,0,1.7,0,2.5C417.4,505.6,417.4,504.7,417.4,503.9z')
        path.st8(d='M469.7,602.2c2.5-1.1,4.2-2.3,5.1-3.3c18.3-20.2,71.2-83.3,48-136.3c-9.5-21.6-18-57.7-47.5-75.2\
        c-7.5,12.5-19.1,14-19.1,14s-25.6-5.9-43-6c0,0,0,0,0,0c-0.1,0-0.2,0-0.3,0c-0.1,0-0.2,0-0.3,0c0,0,0,0,0,0c-17.4,0.1-43,6-43,6\
        s-11.6-1.5-19.1-14c-29.5,17.5-38,53.6-47.5,75.2c-23.2,52.9,34.9,128.2,48,136.3c6.5,4,34.9,12.4,63.8,12.2\
        C437.7,610.9,459.6,606.7,469.7,602.2')
        circle.st5(cx='360.4', cy='477.6', r='52.7')
        circle.st5(cx='463.9', cy='477.6', r='52.7')
        g
          circle.st9(cx='453.9', cy='477.6', r='42.7')
          g
            circle.st10.eye(cx='453.9', cy='477.6', r='26.3')
            circle.st11.eye(cx='453.9', cy='477.6', r='14.9')
            circle.st10.eye(cx='461.4', cy='466.6', r='8.3')
        g
          circle.st9(cx='370.4', cy='477.6', r='42.7')
          g
            circle.st10.eye(cx='370.4', cy='477.6', r='26.3')
            circle.st11.eye(cx='370.4', cy='477.6', r='14.9')
            circle.st10.eye(cx='377.9', cy='466.6', r='8.3')
        path.st11(d='M402.2,489.6c0,0,5.3-4,12.7-4c7.3,0,12.7,4,12.7,4s-8.3,22.7-12.7,22.7S402.2,489.6,402.2,489.6z')
        g
          circle.st5(cx='383.7', cy='550.5', r='8.1')
          circle.st5(cx='403.7', cy='570.5', r='8.1')
          circle.st5(cx='418', cy='542.4', r='8.1')
          circle.st5(cx='432', cy='570.7', r='8.1')
          circle.st5(cx='451.2', cy='548.8', r='8.1')
      text.st5.word.word--15(x='57%', y='20%', fill='red') 0
      text.st5.word.word--14(x='42%', y='20%', fill='red') 1
      text.st5.word.word--13(x='60%', y='20%', fill='red') 0
      text.st5.word.word--12(x='40%', y='20%', fill='red') 1
      text.st5.word.word--11(x='50%', y='20%', fill='red') 0
      text.st5.word.word--10(x='57%', y='20%', fill='red') 0
      text.st5.word.word--9(x='42%', y='20%', fill='red') 1
      text.st5.word.word--8(x='60%', y='20%', fill='red') 0
      text.st5.word.word--7(x='40%', y='20%', fill='red') 1
      text.st5.word.word--6(x='50%', y='20%', fill='red') 0
      text.st5.word.word--5(x='57%', y='20%', fill='red') 0
      text.st5.word.word--4(x='42%', y='20%', fill='red') 1
      text.st5.word.word--3(x='60%', y='20%', fill='red') 0
      text.st5.word.word--2(x='40%', y='20%', fill='red') 1
      text.st5.word.word--1(x='50%', y='20%', fill='red') 0
