.content.content--fixed.content--nav
  nav.bike-nav
    div.bike-nav__item.side-link.coder.bike-nav__item--current
    div.bike-nav__item.side-link.cyclist
    div.side-link.pet
    a(href="portfolio.html").side-link.portfolio
    a(href="http://github.com/abhishekraj007" target="_blank").side-link.github
.content.clearfix
  .home-slider
    .home-slider__item.abs.home-slider-1.active
      .banner
        include ./terminal
        .skill-container
          include ./skills
    .home-slider__item.home-slider-2
      include ./cycle