#skillCanvasContainer.skill
  canvas#skillCanvas.skill__canvas(width='300', height='300')
    ul.skill__li.skill__itemst
      li.skill__item
        a.skill__link(href='javascript:void(0)') ReactJS
      li.skill__item
        a.skill__link(href='javascript:void(0)') HTML5
      li.skill__item
        a.skill__link(href='javascript:void(0)') CSS3
      li.skill__item
        a.skill__link(href='javascript:void(0)') NodeJS
      li.skill__item
        a.skill__link(href='javascript:void(0)') Javascript
      li.skill__item
        a.skill__link(href='javascript:void(0)') MySQL
      li.skill__item
        a.skill__link(href='javascript:void(0)') Git
      li.skill__item
        a.skill__link(href='javascript:void(0)') BEM
      li.skill__item
        a.skill__link(href='javascript:void(0)') Pug
      li.skill__item
        a.skill__link(href='javascript:void(0)') MongoDB
      li.skill__item
        a.skill__link(href='javascript:void(0)') Gulp
      li.skill__item
        a.skill__link(href='javascript:void(0)') SCSS
      li.skill__item
        a.skill__link(href='javascript:void(0)') Java
      li.skill__item
        a.skill__link(href='javascript:void(0)') Visualization
      li.skill__item
        a.skill__link(href='javascript:void(0)') Unix
      li.skill__item
        a.skill__link(href='javascript:void(0)') NodeJS
      li.skill__item
        a.skill__link(href='javascript:void(0)') SQL
      li.skill__item
        a.skill__link(href='javascript:void(0)') DSA
      li.skill__item
        a.skill__link(href='javascript:void(0)') API
      li.skill__item
        a.skill__link(href='javascript:void(0)') jQuery
      li.skill__item
        a.skill__link(href='javascript:void(0)') ES6
      li.skill__item
        a.skill__link(href='javascript:void(0)') Github
      li.skill__item
        a.skill__link(href='javascript:void(0)') VSCode
      li.skill__item
        a.skill__link(href='javascript:void(0)') Photoshop