section.tt-grid-wrapper
  ul.tt-grid.tt-effect-superscale.tt-effect-delay
    li
      a(href="http://runadam.com" target="_blank")
        img(src='img/portfolio/1.jpg', alt='img01')
    li
      a(href="http://www.psgroup.in" target="_blank")
        img(src='img/portfolio/2.jpg', alt='img02')
    li
      a(href="http://creditvidya.com" target="_blank")
        img(src='img/portfolio/3.jpg', alt='img03')
    li
      a(href="https://talentica.com" target="_blank")
        img(src='img/portfolio/4.jpg', alt='img04')
    li
      a(href="http://villasonrent.com" target="_blank")
        img(src='img/portfolio/5.jpg', alt='img05')
    li
      a(href="http://factspan.com" target="_blank")
        img(src='img/portfolio/6.jpg', alt='img05')
  nav
    a.tt-current
    a
    a