
<section class="tt-grid-wrapper">
  <ul class="tt-grid tt-effect-superscale tt-effect-delay">
    <li><a href="http://projects.lollypop.biz/runadam" target="_blank"><img src="img/portfolio/1.jpg" alt="img01"/></a></li>
    <li><a href="http://www.psgroup.in" target="_blank"><img src="img/portfolio/2.jpg" alt="img02"/></a></li>
    <li><a href="http://creditvidya.com" target="_blank"><img src="img/portfolio/3.jpg" alt="img03"/></a></li>
    <li><a href="https://talentica.com" target="_blank"><img src="img/portfolio/4.jpg" alt="img04"/></a></li>
    <li><a href="http://villasonrent.com" target="_blank"><img src="img/portfolio/5.jpg" alt="img05"/></a></li>
    <li><a href="http://factspan.com" target="_blank"><img src="img/portfolio/6.jpg" alt="img05"/></a></li>
  </ul>
  <nav><a class="tt-current"></a><a></a><a></a></nav>
</section>