  <div class="branding"><a ng-href="#/">MeetingMngr</a>&nbsp;
    <a href="http://github.com/abhishekraj007/MeetingManager" target="_blank" 
    title="Project on Github"><i class="fa fa-github"> </i></a>
  </div>

  <ul>
    <li>
      <a ng-show="currentUser" ng-href="#/meetings">Meetings
        <span ng-show="howManyMeetings" class="badge">
        {{howManyMeetings}}</span>
      </a>
    </li>

    <li ng-show="currentUser"ng-controller="RegistrationController">
      <a ng-href="#/login" ng-click="logout()">logout</a>
    </li>

    <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
    <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
  </ul>
