
.slideshow
  .slides.slides--images
    .slide.slide--current
      .slide__img(style='background-image: url(img/run-adam.jpg)')
    .slide
      .slide__img(style='background-image: url(img/batch.jpg)')
    .slide
      .slide__img(style='background-image: url(img/credit.jpg)')
  .slides.slides--titles
    .slide.slide--current
      a(href="http://projects.lollypop.biz/runadam" target="_blank").slide__link RunAdam
    .slide
      a(href="http://batch.ly" target="_blank").slide__link batch.ly
    .slide
      a(href="http://creditvidya.com" target="_blank").slide__link Credit Vidya


  nav.slidenav
    
    button.slidenav__item.slidenav__item--prev
      | &#10094;
    button.slidenav__item.slidenav__item--next
      | &#10095;
  a(href="portfolio.html").visit-all All Projects
